.topicBox {
    display: flex;
    height: 95vh;
    border: 1px solid black;
}

.body {
    width: 60vw;
    min-width: 660px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 100%;
}

footer{
    background-color: #353839;
}