body{
  display: flex;
  justify-content: center;
}
.appPage{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 600px;
  height: 95vh;
}
.appHeader{
  padding: 3px;
  border: 1px solid black;
  height: auto;
  align-items: center;
  text-align: center;
}
.appBody{
  flex: 1;
  border: 1px solid black;
  height:500px;
}
.appFooter{
  position: relative;
  bottom: 0%;
  border: 1px solid black;
  text-align: center;
}